{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Login{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('forms') }}
{% endblock %}

{% block body %}
<section id="login-form" class="container py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post" class="card form-card">
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h2 class="h3 mb-3 font-weight-normal">Sign in here</h2>
                    <div class="my-2">
                        <label for="inputUsername">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                            class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <div class="my-2">
                        <label for="inputPassword">Password</label>
                        <div class="password-field">
                            <i class="password-field-toggler fas fa-eye-slash"></i>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                autocomplete="current-password" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox-element d-flex align-items-center mb-3 mt-1">
                        <input type="checkbox" name="_remember_me" class="checkbox me-2">
                        <label>Remember me</label>
                    </div>

                    <button class="btn btn-lg btn-primary mt-1" type="submit">
                        Sign in
                    </button>
                    <!-- TODO Add forgot password link -->
                    <div class="mt-2 d-flex flex-column justify-content-center">
                        <a href="{{ path('app_register') }}" class="btn btn-link">
                            Don't have an account yet?
                        </a>
                        <a href="#" class="btn btn-link">
                            Forgot your password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}