{% extends "base.html.twig" %}
{% block title %}Reset Password{% endblock %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('forms') }}
{% endblock %}

{% block body %}
<section id="registration-form" class="container py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ form_start(form, {
                    attr: {
                        class: 'card form-card',
                    }
                }) }}
                <h2 class="h3 mb-3 font-weight-normal">Reset your password</h2>
                {{ form_errors(form.password.first) }}
                <div class="my-2">
                    {{ form_label(form.password) }}
                    <div class="password-field">
                        <i class="password-field-toggler fas fa-eye-slash"></i>
                        {{ form_widget(form.password.first) }}
                    </div>
                </div>
                <div class="my-2">
                    {{ form_row(form.password.second) }}
                </div>
                <button type="submit" class="btn btn-primary mt-1">Save modifications</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}