{% extends "base.html.twig" %}

{% block title %}
{{title|default("Create a new trick")}}
{% endblock %}
{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('forms') }}
{{ encore_entry_script_tags('video-services') }}
{% endblock %}

{% block body %}
<div class="container">

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.overview) }}
    {{ form_row(form.category) }}
    {{ form_row(form.thumbnail) }}
    {{ form_row(form.images) }}
    <div style="visibility: hidden; display: none;" id="videos-field">
        {{ form_row(form.videos) }}
    </div>

    <div class="my-1" id="trick-videos" data-initial-values='{{videos|default("[]")}}'>
        <button id="trick-videos-remove" disabled>
            <i class="fas fa-minus"></i>
        </button>
        <button id="trick-videos-add">
            <i class="fas fa-plus"></i>
        </button>
        <div class="d-flex" style="height: 350px; overflow-x:scroll;" id="tricks-videos-scrollable">
            <!-- Dynamic iframes view here -->
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        {{ currentPath == path('tricks.create') ? 'Create' : 'Save modifications' }}
    </button>
    {{ form_end(form) }}
</div>
{% endblock %}