{% extends 'base.html.twig' %}
{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('image-preview') }}
{% endblock %}
{% block title %}My Profile{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form, {
            attr: {
                class: 'card form-card'
            }
        }) }}
        <fieldset>
            {{ form_label(form.profile_picture) }}
            <div class="image-preview-container">
                <div class="image-container">
                    <img class="image-preview" id="image-preview-1" src="{{ app.user.profilePicturePath}}" />
                    <!-- <div class="backdrop-background">
                        <i class="fas fa-file-upload"></i> -->
                        {{ form_widget(form.profile_picture, {
                            attr: {
                                "class": "image-preview-input",
                                "data-preview": '#image-preview-1'
                            }
                        }) }}
                    <!-- </div> -->
                </div>
            </div>
        </fieldset>
        <button class="btn btn-primary btn-lg">Save Modifications</button>  
        {{ form_end(form)}}  
    </div>
{% endblock %}